/* Fonte */
body {
    font-family: 'Outfit', sans-serif;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* Logo fora da caixa */
.topo-logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.logo-principal {
    width: 180px;
}

/* Caixa de login */
.caixa-login {
    width: 350px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.titulo-login {
    text-align: center;
    margin-bottom: 20px;
}

/* Campos */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #E1E1E1;
    font-size: 15px;
}

.campo-senha {
    position: relative;
}

.mostrar-senha {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

/* Erro */
.mensagem-erro {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* Botão entrar */
.botao-entrar {
    width: 100%;
    padding: 12px;
    background: #7A43CF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Social */
.linha-ou {
    text-align: center;
    margin: 10px 0;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.botao-google, .botao-apple {
    width: 48%;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #DCDCDC;
    cursor: pointer;
}

/* Criar conta */
.criar-conta {
    text-align: center;
}

/* Rodapé */
.rodape {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    color: #777;
    font-size: 14px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .caixa-login {
        width: 85%;
    }

    .logo-principal {
        width: 150px;
    }
}
